/* ================ reset 样式 start  ================ */
* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: normal;
}
img {
    border-style: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none
}
html, body {
    background: #fff;
    height: 100%;

}


input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
    outline: 0;
}

textarea {
    -webkit-appearance: none;
}

/* ================ reset 样式 end  ================ */


.inner-center {
    width: 1000px;
    margin: 0 auto;
 
}

.main {
    padding-top: 10px;
    min-height: 100%;
   
}
.content-inside{
   padding-bottom: 60px;
}
.footer {
    height: 60px;
    text-align: center;
    margin-top: -60px; 
    /* position: relative;
    margin-top: -100px; 
    clear:both; */
}
/* logo start  */
.logo-box {
    display: flex;
    overflow: hidden;
    margin-left: 250px;
    align-items: center;
}
.logo-left {
    position: relative;
    width: 125px;
    height: 121px;
    cursor: pointer;
}
.logo-right {
    padding-left: 36px;
    font-size: 36px;
    color: rgba(0, 39, 102, 1);
    font-family: SourceHanSansSC-regular;
}
/* logo end  */


/* 搜索框 start */
.search-section {
    margin-top: 14px;
    margin-bottom: 40px;
}
.search-section {
    position: relative;
    display: flex;
}
.search-left {
    display: flex;
    width: 100%;
    height: 54px;
    line-height: 20px;
    border: 1px solid rgba(217, 217, 217, 0.96);
}

.input-wrap {
    position: relative;
    flex: 1;
}
.input-wrap .search-input {
    height: 52px;
    width: 100%;
    outline: 0;
    border: 0;
    font-size: 16px;
    padding-left: 15px;
}
/* .input-wrap .search-input:focus{
	border-style:solid;
	border-color: #FDA31E 96%;
	box-shadow: 0 0 10px #FDA31E;
    } */
/* .search-left:focus{
    border-style:solid;
    border-color: #FDA31E 96%;
    box-shadow: 0 0 10px #FDA31E;
    } */
.input-wrap .clear-keyword {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #d2d2d2;
    font-size: 30px;
}


/* 搜索框 end */
/*  导航内容 start  */
.nav-content {
    overflow: hidden;
}
/*  导航内容 end  */


/*内容区域*/

/*-----------------------------简洁版样式定义- 开始---------------------------------------------------*/

.jj-list {
    width: 33.33%;
    float: left;
    margin-bottom: 30px;
    padding-right: 16px;
}
.jj-list:nth-of-type(3n) {
    padding-right: 0;
}
.jj-list-tit {
    font-size: 16px;
    line-height: 25px;
    color: rgba(49, 70, 89, 1);
    font-weight: bold;
}
.jj-list-con {
    overflow: hidden;
    margin: 0 auto;

}
.jj-list-con li {
    box-sizing: border-box; /*以IE盒子模型的width为标准*/
    padding: 1px 1px; /*设置div的内边距*/
    width: 50%; /*div等分成4部分*/
    float: left;
}


.jj-list-link {
    display: block;
    background: rgba(230, 247, 255, 0.96);
    color:rgba(49, 70, 89, 1);
    font-size: 13px;
    text-align: center;
    line-height: 44px;
    transition: all 0.2s;
    border-radius: 2px;
}
.jj-list-link:hover {
    background: #1890FF 100%;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

/*-----------------------------简洁版样式定义- 结束---------------------------------------------------*/


